pandas==2.2.3
numpy==1.26.4
xgboost==2.1.1
scikit-learn==1.5.2
scipy==1.10.1
seaborn==0.13.2
statsmodels==0.14.4
nbformat==5.10.4
matplotlib==3.9.0
plotly==5.24.1
altair==4.1.0
rich==13.1.0
requests==2.26.0
tensorflow
nltk